<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-top">
  <ion-row>
    <ion-col text-center>
      <ion-label text-center color="secondary" class="ion-margin">Список музыки</ion-label>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let item of this.guiService.audioLibrary">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label class="ion-padding">
        <h2>{{item.name}}</h2>
        <p>Дата: {{item.created | date: 'dd.MM.yyyy HH:mm:ss'}}</p>
      </ion-label>
      <ion-button color="primary" (click)="play(item)">Вопроизвести</ion-button>
      <ion-button color="danger" (click)="delete(item)">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding" center>
  <!-- Playback section -->
  <div text-center>
    <!-- list -->
    <!-- control bar -->
    <div>
      <ion-range min="0" max="{{duration}}" [(ngModel)]="position" pin="true">
        <!--  [disabled]="is_in_play && is_playing"  -->
        <ion-label slot="start">{{ position*1000 | date:'mm:ss' }}</ion-label>
        <ion-label slot="end" *ngIf="duration == -1">--:--</ion-label>
        <ion-label slot="end" *ngIf="duration != -1">{{ duration*1000 | date:'mm:ss' }}</ion-label>
      </ion-range>
    </div>
    <br>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
        <ion-col>
          <!-- Backwards -->
          <ion-fab-button class="skip-btn" color="primary" [disabled]="!is_ready || !is_in_play"
            (click)="controlSeconds('back')">
            &nbsp;&nbsp;
            <ion-icon name="play-skip-back"></ion-icon>
            &nbsp;&nbsp;
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <!-- Play/Pause -->
          <ion-fab-button class="play-pause-btn" (click)="playRecording()" color="primary" *ngIf="!is_playing"
            [disabled]="!is_ready">
            <ion-icon name="play"></ion-icon>
          </ion-fab-button>

          <ion-fab-button class="play-pause-btn" (click)="pausePlayRecording()" color="secondary" *ngIf="is_playing"
            [disabled]="!is_ready">
            <ion-icon name="pause"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <!-- Forwards -->
          <ion-fab-button class="skip-btn" color="primary" [disabled]="!is_ready || !is_in_play"
            (click)="controlSeconds('forward')">
            &nbsp;&nbsp;
            <ion-icon name="play-skip-forward"></ion-icon>
            &nbsp;&nbsp;
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
